.main-form-container{
    background-color: yellow;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentence-input {
    width: 30vw;
    height: 20vh;
}
.sentence-board-container{
    background-color: yellow;
    height: 100vh;
    width: 52vw;
}

.form-container {
    display: flex;
    flex-direction: row;
    background-color: yellow;

}

.sentence-board{
    /* border: 5px dotted fuchsia; */
    height: 40vh;
    width: 40vw;
    margin-top: 20%;
    color: white;
}

.board-border {
    border: 25px solid #763d04;
    height: 55vh;
    width: 45vw;
    background-color: #000000cb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.each-sentence {
    font-size: 20px;
}

.instructions{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}

.title-button {
    background-color: rgb(245, 28, 155) ;
    border: none;
}

.title-button:hover {
    transition: transform 125ms;
    transform: translateY(15px);
    cursor: pointer;
}
