.main-form-container{
    background-color: yellow;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentence-input {
    width: 30vw;
    height: 20vh;
}
.sentence-board-container{
    background-color: yellow;
    height: 100vh;
    width: 60vw;
}

.form-container {
    display: flex;
    flex-direction: row;
    background-color: yellow;

}

.sentence-board{
    /* border: 5px dotted fuchsia; */
    height: 40vh;
    width: 40vw;
    margin-top: 20%;
    color: white;
}

.board-border {
    border: 25px solid #964B00;
    height: 55vh;
    width: 45vw;
    background-color: #000000cb;
}

.each-sentence {
    font-size: 20px;
}
