body {
    font-family: 'Courier New', Courier, monospace;
}

h2{
 margin: 0 0 0 0;   
}

.app-header {
    border: 5px yellow dashed;
    background-color: rgb(245, 28, 155) ;
    font-size: 3vh;
}

.app-title{
    font-size: 8vh;
    font-family: 'Courier New', Courier, monospace;
}

.links{
    display: flex;
    justify-content: space-between;
}

.main-container{
    background-color: orange;
    height: 105vh;
    display: flex;
    justify-content: center;
}

.main-section{
    padding: 0;
    background-color: rgb(81, 228, 88);
    height: 50vh;
    width: 50vw;
    margin-top: 10%;
    
}

.start-learning-btn {
    height: 5vh;
    width: 9vw;
    border: none;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

.start-learning-btn:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
    cursor: alias;
}

 