body {
    font-family: 'Courier New', Courier, monospace;
}

h2{
 margin: 0 0 0 0;   
}

.app-header {
    border: 5px yellow dashed;
    background-color: rgb(245, 28, 155) ;
    font-size: 3vh;
    width: 100vw;
    height: 55vh;
    /* opacity: .75; */

}

.app-title{
    font-size: 8vh;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    background-color: rgb(245, 28, 155);
    box-shadow: 7px 2px 20px 0px;
    border-radius: 15px;
    opacity: .80;
    border: 5px solid orange;
}

.links{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.main-container{
    background-color: orange;
    height: 105vh;
    display: flex;
    justify-content: center;
}

.main-section{
    padding: 0;
    background-color: rgb(81, 228, 88);
    height: 50vh;
    width: 50vw;
    margin-top: 10%;
    
}

.start-learning-btn {
    height: 5vh;
    width: 9vw;
    border: none;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
}

.start-learning-btn:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
    cursor: alias;
}

 
.papel-picado {
    overflow: hidden;
    object-fit: none;
    width: 95%;
    height: 45vh;
    margin: 2vw 2vw 2vw -25vw;
    position: absolute;
    border-radius: 65px;
    /* opacity: .8; */

}

.heading-section-image-text {
    position: relative;
}

.title-button {
    height: 15vh;
    width: 50vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 8vh;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    background-color: rgb(245, 28, 155);
    box-shadow: 7px 2px 20px 0px;
    border-radius: 15px;
    opacity: .80;
    border: 5px solid orange;
    font-weight: 600;
}

.title-button:hover {
    transition: transform 125ms;
    transform: translateY(15px);
    cursor: pointer;
    background-color: rgb(189, 33, 137);
    height: 15vh;
    width: 50vw;
    opacity: 1;
}

.word-button {
    height: 5vh;
    width: 9vw;
    border: none;
    background-color: yellow;
    font-family: "Courier New", Courier, monospace;
  }
  
  .word-button:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
    cursor: pointer;
  }

  .start-learning-btn {
    height: 5vh;
    width: 9vw;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(245, 28, 155);
    box-shadow: 7px 2px 20px 0px;
    border-radius: 15px;
    opacity: .80;
    border: 5px solid orange;
    font-weight: 600;
}

.start-learning-btn:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
    cursor: alias;
}
